<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.Esport"/>

    <!-- DataSource Configuration -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:mem:esportdb;DB_CLOSE_DELAY=-1"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <!-- EntityManagerFactory Configuration -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.Esport.model"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hibernate.validator.apply_to_ddl">true</prop>
            </props>
        </property>
    </bean>

    <!-- TransactionManager Configuration -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- Enable declarative transaction management -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="persistenceExceptionTranslationPostProcessor"
          class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>


          <!-- DAO -->
          <bean id="jeuDao" class="com.Esport.Dao.Impl.JeuDaoImpl">
            <property name="entityManager" ref="entityManagerFactory"/>
          </bean>
          <bean id="tournoiDao" class="com.Esport.Dao.Impl.TournoiDaoImpl">
            <property name="entityManager" ref="entityManagerFactory"/>
          </bean>
          <bean id="equipeDao" class="com.Esport.Dao.Impl.EquipeDaoImpl">
            <property name="entityManager" ref="entityManagerFactory"/>
          </bean>
          <bean id="joueurDao" class="com.Esport.Dao.Impl.JoueurDaoImpl">
            <property name="entityManager" ref="entityManagerFactory"/>
          </bean>
          <!-- REPOSITORY -->
          <bean id="jeuRepository" class="com.Esport.Repository.Impl.JeuRepositoryImpl">
            <property name="jeuDao" ref="jeuDao"/>
          </bean>
          <bean id="tournoiRepository" class="com.Esport.Repository.Impl.TournoiRepositoryImpl">
            <property name="tournoiDao" ref="tournoiDao"/>
          </bean>
          <bean id="equipeRepository" class="com.Esport.Repository.Impl.EquipeRepositoryImpl">
            <property name="equipeDao" ref="equipeDao"/>
          </bean>
          <bean id="joueurRepository" class="com.Esport.Repository.Impl.JoueurRepositoryImpl">
            <property name="joueurDao" ref="joueurDao"/>
          </bean>
          

          
</beans>
