<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.Esport"/>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- DataSource Configuration -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:mem:esportdb;DB_CLOSE_DELAY=-1"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <!-- EntityManagerFactory Configuration -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.Esport.Modele"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
    </bean>

        <bean id="entityManager" class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- TransactionManager Configuration
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean> -->

    <bean id="persistenceExceptionTranslationPostProcessor"
          class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <!-- DAO -->
    <bean id="JeuDao" class="com.Esport.Dao.Impl.JeuDaoImpl"/>
    <bean id="TournoiDao" class="com.Esport.Dao.Impl.TournoiDaoImpl"/>
    <bean id="EquipeDao" class="com.Esport.Dao.Impl.EquipeDaoImpl"/>
    <bean id="JoueurDao" class="com.Esport.Dao.Impl.JoueurDaoImpl"/>
    <!-- Repository -->
    <bean id="JeuRepository" class="com.Esport.Repository.Impl.JeuRepositoryImpl">
        <constructor-arg ref="JeuDao"/>
    </bean>
    <!-- TournoiRepository implementations -->
    <bean id="tournoiRepositoryImpl" class="com.Esport.Repository.Impl.TournoiRepositoryImpl">
        <constructor-arg ref="TournoiDao"/>
    </bean>
    <bean id="tournoiRepositoryExtension" class="com.Esport.Repository.Impl.TournoiRepositoryExtension">
        <constructor-arg ref="tournoiRepositoryImpl"/>
    </bean>
    <bean id="EquipeRepository" class="com.Esport.Repository.Impl.EquipeRepositoryImpl">
        <constructor-arg ref="EquipeDao"/>
    </bean>
    <bean id="JoueurRepository" class="com.Esport.Repository.Impl.JoueurRepositoryImpl">
        <constructor-arg ref="JoueurDao"/>
    </bean>

    <!-- Service -->
    <bean id="JeuService" class="com.Esport.Service.Impl.JeuServiceImpl">
        <constructor-arg ref="JeuRepository"/>
    </bean>
    <bean id="TournoiService" class="com.Esport.Service.Impl.TournoiServiceImpl">
        <constructor-arg name="tournoiRepository" ref="TournoiRepository"/>
        <constructor-arg name="equipeRepository" ref="EquipeRepository"/>
    </bean>
    <bean id="EquipeService" class="com.Esport.Service.Impl.EquipeServiceImpl">
        <constructor-arg name="equipeRepository" ref="EquipeRepository"/>
        <constructor-arg name="joueurRepository" ref="JoueurRepository"/>
    </bean>
    <bean id="JoueurService" class="com.Esport.Service.Impl.JoueurServiceImpl">
        <constructor-arg ref="JoueurRepository"/>
    </bean>

   

    <!-- 
    To use tournoiRepositoryImpl, change the line below to:
    <alias name="tournoiRepositoryImpl" alias="tournoiRepository"/>
    
    To use tournoiRepositoryExtension, keep it as:
    <alias name="tournoiRepositoryExtension" alias="tournoiRepository"/>
    -->
    <alias name="tournoiRepositoryImpl" alias="TournoiRepository"/>
    <!-- To use TournoiRepositoryExtension, comment out the line above and uncomment the line below -->
    <!-- <alias name="tournoiRepositoryExtension" alias="TournoiRepository"/> -->




    <!-- Menu Principal -->
    <bean id="menuPrincipal" class="com.Esport.presentation.Menu.MenuPrincipal">
        <constructor-arg ref="menuJeu"/>
        <constructor-arg ref="menuTournoi"/>
        <constructor-arg ref="menuEquipe"/>
        <constructor-arg ref="menuJoueur"/>
    </bean>
    <!-- Menu Jeu -->
    <bean id="menuJeu" class="com.Esport.presentation.Menu.MenuJeu">
        <constructor-arg ref="JeuService"/>
    </bean>

    <!-- Menu Tournoi -->
    <bean id="menuTournoi" class="com.Esport.presentation.Menu.MenuTournoi">
        <constructor-arg ref="TournoiService"/>
        <constructor-arg ref="JeuService"/>
        <constructor-arg ref="EquipeService"/>
    </bean>

    <!-- Menu Equipe -->
    <bean id="menuEquipe" class="com.Esport.presentation.Menu.MenuEquipe">
        <constructor-arg ref="EquipeService"/>
    </bean>

    <!-- Menu Joueur -->
    <bean id="menuJoueur" class="com.Esport.presentation.Menu.MenuJoueur">
        <constructor-arg ref="JoueurService"/>
    </bean>
    

</beans>
